{% extends 'base.html' %}
{% load static %}

{% block meta %}


{% endblock meta %}

{% block title %}

Careers - {{ block.super }}

{% endblock title %}
{% block content %}
<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Careers @Stocker</h1>
      <p class="lead text-muted">Join us in the Team at a global authorized positions. We hire interns with basic stipend too.</p>
      <p>
        <a href="mailto:mailto:dishantrathi97@gmail.com?subject=Exploring Opportuninty" class="btn btn-primary my-2">Contact Us</a>
        <a href="mailto:mailto:dishantrathi97@gmail.com?subject=Looking For Internship" class="btn btn-secondary my-2">Internship</a>
      </p>
    </div>
  </section>
<div class="container">

<style>
      body {
        background-color: transparent;
      }
      
      .card-profile {
        width: 340px;
        margin: 50px auto;
        background-color: #e6e5e1;
        border-radius: 0;
        border: 0;
        box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
      }
      .card-profile .card-img-top {
        border-radius: 0;
      }
      .card-profile .card-img-profile {
        max-width: 100%;
        border-radius: 50%;
        margin-top: -95px;
        margin-bottom: 35px;
        border: 5px solid #e6e5e1;
      }
      .card-profile .card-title {
        margin-bottom: 50px;
      }
      .card-profile .card-title small {
        display: block;
        font-size: 0.6em;
        margin-top: 0.2em;
      }
      .card-profile .card-links {
        margin-bottom: 25px;
      }
      .card-profile .card-links .fa {
        margin: 0 1em;
        font-size: 1.6em;
      }
      .card-profile .card-links .fa:focus, .card-profile .card-links .fa:hover {
        text-decoration: none;
      }
</style>

<div class="container">

<div class="row">

<div class='card card-profile text-center'>
  <div class='card-block'>
    <h4 class='card-title'>
      Python Developer
      <small>Able to handle mutliple connections in python for backend files.</small>
    </h4>
    <a href="mailto:mailto:dishantrathi97@gmail.com?subject=Python Developer Post" class="btn btn-primary my-2">Apply Now</a>
  </div>
</div>
<div class='card card-profile text-center'>
    <div class='card-block'>
      <h4 class='card-title'>
        Android Developer
        <small>Able to create apps from scratch and familiar with API's.</small>
      </h4>
      <a href="mailto:mailto:dishantrathi97@gmail.com?subject=Android Developer Post" class="btn btn-primary my-2">Apply Now</a>
    </div>
  </div>

</div>


</div>
{% endblock %}
